# yamllint disable rule:line-length
---
name: "Manual build"

on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      MYTHBRANCH:
        type: choice
        description: "Choose a MythTV Version"
        options:
          - "master"
          - "fixes/35"
          - "fixes/34"
      PKGMGR:
        type: choice
        description: "Choose a package manager"
        options:
          - "homebrew"
          - "macports"
      BUILD_14_X86_64:
        type: boolean
        description: "Build for macOS 14 x86_64 (PAID)"
        default: false
      BUILD_14_ARM64:
        type: boolean
        description: "Build for macOS 14 arm64"
        default: true
      BUILD_15_X86_64:
        type: boolean
        description: "Build for macOS 15 x86_64"
        default: true
      BUILD_15_ARM64:
        type: boolean
        description: "Build for macOS 15 arm64"
        default: true
      BUILD_26_ARM64:
        type: boolean
        description: "Build for macOS 26"
        default: false
      BUILDTYPE:
        type: choice
        description: "Choose a build type"
        options:
          - "production"
          - "test"


run-name: "Manual Build: ${{ inputs.mythbranch }} by @${{ github.actor }}
  with ${{ inputs.PKGMGR }}"

jobs:
  check-inputs:
    runs-on: 'macos-latest'
    env:
      mythbranch: ${{ inputs.MYTHBRANCH }}
    steps:
      - name: check-inputs
        run: |
          outputSTR="Building MyhtvTV Branch $mythbranch"
          echo $outputSTR
  build-mythtv-cmake:
    needs: check-inputs
    uses: ./.github/workflows/build_sign_upload.yml
    with:
      USE_CCACHE: false
      MYTHBRANCH: ${{ inputs.MYTHBRANCH }}
      BUILDTYPE: ${{ inputs.BUILDTYPE }}
      BUILD_14_X86_64: ${{ inputs.BUILD_14_X86_64 }}
      BUILD_14_ARM64: ${{ inputs.BUILD_14_ARM64 }}
      BUILD_15_X86_64: ${{ inputs.BUILD_15_X86_64 }}
      BUILD_15_ARM64: ${{ inputs.BUILD_15_ARM64 }}
      BUILD_26_ARM64: ${{ inputs.BUILD_26_ARM64 }}
      PKGMGR: ${{ inputs.PKGMGR }}
    secrets: inherit
